body{
    background-color: rgb(175, 175, 152);
}
h1, h2{
    color: rgba(25, 90, 175, 0.842);
    text-align: center;
    text-decoration: 4px underline rgba(45, 57, 126, 0.76);
}
#read{
    color: rgb(83, 93, 139);
}
.two{
    display: none;
    /* display: inline; */
    /* display: block; */
    /* visibility: hidden; */
}
li{
    display: inline;
}
.nam{
    /* display: block; */
    /* display: inline-block; */
}